<form [formGroup]='form' (ngSubmit)='create()'>
  <div class='flex flex-column'>
    <mat-form-field appearance='fill'>
      <mat-label>Date</mat-label>
      <input matInput [matDatepicker]='picker' formControlName='date'>
      <mat-datepicker-toggle matSuffix [for]='picker'></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field appearance='fill'>
      <mat-label>Time</mat-label>
      <input matInput type='time' formControlName='time'>
    </mat-form-field>
    <mat-form-field appearance='fill'>
      <mat-label>Expedition</mat-label>
      <mat-select formControlName='expedition'>
        <mat-option *ngFor="let expedition of getExpeditions()" value='{{expedition}}'>{{('EXPEDITION.' + expedition) | translate}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance='fill'>
      <mat-label>Role</mat-label>
      <mat-select formControlName='role'>
        <mat-option value='{{role.TANK}}'>Tank</mat-option>
        <mat-option value='{{role.DAMAGE}}'>Damage</mat-option>
        <mat-option value='{{role.HEAL}}'>Heal</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-slide-toggle color='primary' formControlName='hasKey'>I have a tuning orb</mat-slide-toggle>
  </div>

<div mat-dialog-actions class='flex flex-right'>
  <button mat-button mat-dialog-close>Abort</button>
  <button mat-button color='primary' type='submit'>Create</button>
</div>

</form>
