/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #bababa;
  background-color: #000000;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.card {
  width: 800px;
}

.content {
  margin: 6px 18px 6px 18px;
}

.flex {
  display: flex;
}

.flex-item > * {
  flex: 1 1 100%;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.snackbar-info {
  background: #393939;
  color: #ffffff;
}

.snackbar-error {
  background: #393939;
  color: #ffb3b3;
}
