/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #bababa;
  background-color: #000000;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.card {
  width: 800px;
}

.large-card {
  width: 1280px;
}

.content {
  margin: 6px 18px 6px 18px;
}

.vertical-margin {
  margin: 18px 0 18px 0;
}

.flex {
  display: flex;
}

.flex-item > * {
  flex: 1 1 100%;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-center {
  justify-content: center;
}

.flex-right {
  justify-content: right;
}

.flex-vertical-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.snackbar-info {
  background: #393939;
  color: #ffffff;
}

.snackbar-error {
  background: #393939;
  color: #ffb3b3;
}

.w-50 {
  max-width: 50px;
}

.w-75 {
  max-width: 75px;
}

.w-100 {
  max-width: 100px;
}

.w-125 {
  max-width: 125px;
}

.w-150 {
  max-width: 150px;
}

.margin-left-auto {
  margin-left: auto;
}
