<div class="flex flex-vertical-center flex-column trade-skill-container">
    <div>{{'ATTRIBUTES.' + attribute | translate}}</div>
    <mat-progress-bar mode="determinate" [value]="value / 200 * 100"></mat-progress-bar>
    <div class="trade-skill-value">
        <button mat-icon-button (click)="decrement()">
            <mat-icon>chevron_left</mat-icon>
        </button>
        <mat-form-field appearance="outline">
            <input matInput type="number" [formControl]="form" autocomplete="off"/>
        </mat-form-field>
        <button mat-icon-button (click)="increment()">
            <mat-icon>chevron_right</mat-icon>
        </button>
    </div>
</div>
