.header {
  margin-bottom: 24px;
}

.header-spacer {
  flex: 1 1 auto;
}

.header-name {
  padding: 5px 5px 5px 5px;
}

.header-headline {
  cursor: pointer;
}

.avatar {
  padding-left: 6px;
  padding-right: 12px;
  cursor: pointer;
}
