<div class="register-div">
  <mat-card class="default-container">
    <div class="register-div"><mat-card-title>REGISTER</mat-card-title></div>
    <mat-card-content>
      <form class="register-form">
        <mat-form-field class="register-form-full-width" appearance="fill">
          <mat-label>CHARACTER NAME</mat-label>
          <input matInput placeholder="your ingame name" [formControl]="characterName">
        </mat-form-field>
      </form>
      <button mat-raised-button (click)="register()">Register</button>
    </mat-card-content>
  </mat-card>
</div>
