<div class="content">
  <app-attribute label="{{'ATTRIBUTES.STRENGTH' | translate | uppercase}}" [form]="strengthForm"></app-attribute>
  <app-attribute label="{{'ATTRIBUTES.DEXTERITY' | translate | uppercase}}" [form]="dexterityForm"></app-attribute>
  <app-attribute label="{{'ATTRIBUTES.INTELLIGENCE' | translate | uppercase}}" [form]="intelligenceForm"></app-attribute>
  <app-attribute label="{{'ATTRIBUTES.FOCUS' | translate | uppercase}}" [form]="focusForm"></app-attribute>
  <app-attribute label="{{'ATTRIBUTES.CONSTITUTION' | translate | uppercase}}" [form]="constitutionForm"></app-attribute>
</div>
