<div class="content">
  <attribute  label="{{'ATTRIBUTES.STRENGTH' | translate | uppercase}}" [form]="strengthForm"></attribute>
  <attribute  label="{{'ATTRIBUTES.DEXTERITY' | translate | uppercase}}" [form]="dexterityForm"></attribute>
  <attribute  label="{{'ATTRIBUTES.INTELLIGENCE' | translate | uppercase}}" [form]="intelligenceForm"></attribute>
  <attribute  label="{{'ATTRIBUTES.FOCUS' | translate | uppercase}}" [form]="focusForm"></attribute>
  <attribute  label="{{'ATTRIBUTES.CONSTITUTION' | translate | uppercase}}" [form]="constitutionForm"></attribute>
</div>
