.admin-users-table {
    width: 725px;
    margin-top: 24px;
    margin-bottom: 24px;
}


.mat-cell {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 1 1 auto !important;
    width: auto !important;
    overflow-wrap: break-word;
    word-wrap: break-word;

    word-break: break-word;

    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;

    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.mat-column-id {
    flex: 0 0 40px !important;
    width: 80px !important;
}

.mat-row:hover .mat-cell {
    border-color: currentColor;
}
