<div class="content">
  <mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" autocomplete="off" #input>
  </mat-form-field>
  <table mat-table [dataSource]="displayedData" class="mat-elevation-z8 admin-users-table">
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let element">{{element.id}}</td>
    </ng-container>

    <!-- Character Name Column -->
    <ng-container matColumnDef="characterName">
      <th mat-header-cell *matHeaderCellDef>Character Name</th>
      <td mat-cell *matCellDef="let element">{{element.characterName}}</td>
    </ng-container>

    <!-- Discord Name Column -->
    <ng-container matColumnDef="discordUsername">
      <th mat-header-cell *matHeaderCellDef>Discord Name</th>
      <td mat-cell *matCellDef="let element">{{element.discordUsername}}</td>
    </ng-container>

    <!-- Discord Id Column -->
    <ng-container matColumnDef="discordId">
      <th mat-header-cell *matHeaderCellDef>Discord ID</th>
      <td mat-cell *matCellDef="let element">{{element.discordId}}</td>
    </ng-container>

    <!-- Enabled Column -->
    <ng-container matColumnDef="enabled">
      <th mat-header-cell *matHeaderCellDef>Enabled</th>
      <td mat-cell *matCellDef="let element">
        <mat-slide-toggle [checked]="isEnabled(element)" (change)="enable($event, element)"
                          [disabled]="(getUserId() | async) === element.id"></mat-slide-toggle>
      </td>
    </ng-container>

    <!-- Admin Column -->
    <ng-container matColumnDef="admin">
      <th mat-header-cell *matHeaderCellDef>Admin</th>
      <td mat-cell *matCellDef="let element">
        <mat-slide-toggle [checked]="isAdmin(element)" (change)="admin($event, element)"
                          [disabled]="(getUserId() | async) === element.id"></mat-slide-toggle>
      </td>
    </ng-container>

    <!-- Delete Column -->
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>Delete</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="accent" matTooltip="delete" [disabled]='(getUserId() | async) === element.id'
                (click)="delete(element)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
