<div class="content flex flex-wrap">
    <div class="content flex flex-column flex-vertical-center">
        <div><h2>ONE HANDED</h2></div>
        <app-weapon-mastery [attribute]="attributes.SWORD_AND_SHIELD" [form]="swordAndShield"></app-weapon-mastery>
        <app-weapon-mastery [attribute]="attributes.RAPIER" [form]="rapier"></app-weapon-mastery>
        <app-weapon-mastery [attribute]="attributes.HATCHET" [form]="hatchet"></app-weapon-mastery>
    </div>
    <div class="content flex flex-column flex-vertical-center">
        <div><h2>TWO HANDED</h2></div>
        <app-weapon-mastery [attribute]="attributes.SPEAR" [form]="spear"></app-weapon-mastery>
        <app-weapon-mastery [attribute]="attributes.GREATAXE" [form]="greataxe"></app-weapon-mastery>
        <app-weapon-mastery [attribute]="attributes.WARHAMMER" [form]="warhammer"></app-weapon-mastery>
        <app-weapon-mastery [attribute]="attributes.GREATSWORD" [form]="greatsword"></app-weapon-mastery>
    </div>
    <div class="content flex flex-column flex-vertical-center">
        <div><h2>RANGED</h2></div>
        <app-weapon-mastery [attribute]="attributes.BOW" [form]="bow"></app-weapon-mastery>
        <app-weapon-mastery [attribute]="attributes.MUSKET" [form]="musket"></app-weapon-mastery>
        <app-weapon-mastery [attribute]="attributes.BLUNDERBUSS" [form]="blunderbuss"></app-weapon-mastery>
    </div>
    <div class="content flex flex-column flex-vertical-center">
        <div><h2>MAGIC</h2></div>
        <app-weapon-mastery [attribute]="attributes.FIRESTAFF" [form]="firestaff"></app-weapon-mastery>
        <app-weapon-mastery [attribute]="attributes.LIFESTAFF" [form]="lifestaff"></app-weapon-mastery>
        <app-weapon-mastery [attribute]="attributes.ICE_GAUNTLET" [form]="iceGauntlet"></app-weapon-mastery>
        <app-weapon-mastery [attribute]="attributes.VOID_GAUNTLET" [form]="voidGauntlet"></app-weapon-mastery>
    </div>
</div>


