<div class="content flex flex-wrap">
    <div class="content flex flex-column flex-vertical-center">
        <div><h2>ONE HANDED</h2></div>
        <weapon-mastery [attribute]="attributes.SWORD_AND_SHIELD" [form]="swordAndShield"></weapon-mastery>
        <weapon-mastery [attribute]="attributes.RAPIER" [form]="rapier"></weapon-mastery>
        <weapon-mastery [attribute]="attributes.HATCHET" [form]="hatchet"></weapon-mastery>
    </div>
    <div class="content flex flex-column flex-vertical-center">
        <div><h2>TWO HANDED</h2></div>
        <weapon-mastery [attribute]="attributes.SPEAR" [form]="spear"></weapon-mastery>
        <weapon-mastery [attribute]="attributes.GREATAXE" [form]="greataxe"></weapon-mastery>
        <weapon-mastery [attribute]="attributes.WARHAMMER" [form]="warhammer"></weapon-mastery>
    </div>
    <div class="content flex flex-column flex-vertical-center">
        <div><h2>RANGED</h2></div>
        <weapon-mastery [attribute]="attributes.BOW" [form]="bow"></weapon-mastery>
        <weapon-mastery [attribute]="attributes.MUSKET" [form]="musket"></weapon-mastery>
    </div>
    <div class="content flex flex-column flex-vertical-center">
        <div><h2>MAGIC</h2></div>
        <weapon-mastery [attribute]="attributes.FIRESTAFF" [form]="firestaff"></weapon-mastery>
        <weapon-mastery [attribute]="attributes.LIFESTAFF" [form]="lifestaff"></weapon-mastery>
        <weapon-mastery [attribute]="attributes.ICE_GAUNTLET" [form]="iceGauntlet"></weapon-mastery>
        <weapon-mastery [attribute]="attributes.VOID_GAUNTLET" [form]="voidGauntlet"></weapon-mastery>
    </div>
</div>


