<div class="content flex flex-wrap">
    <div class="content flex flex-vertical-center flex-column">
        <div><h2>CRAFTING</h2></div>
        <div>
            <app-trade-skill [attribute]="attributes.WEAPONSMITHING" [form]="weaponSmithing"></app-trade-skill>
        </div>
        <div>
            <app-trade-skill [attribute]="attributes.ARMORING" [form]="armoring"></app-trade-skill>
        </div>
        <div>
            <app-trade-skill [attribute]="attributes.ENGINEERING" [form]="engineering"></app-trade-skill>
        </div>
        <div>
            <app-trade-skill [attribute]="attributes.JEWELCRAFTING" [form]="jewelcrafting"></app-trade-skill>
        </div>
        <div>
            <app-trade-skill [attribute]="attributes.ARCANA" [form]="arcana"></app-trade-skill>
        </div>
        <div>
            <app-trade-skill [attribute]="attributes.COOKING" [form]="cooking"></app-trade-skill>
        </div>
        <div>
            <app-trade-skill [attribute]="attributes.FURNISHING" [form]="furnishing"></app-trade-skill>
        </div>
    </div>
    <div class="content flex flex-vertical-center flex-column">
        <div><h2>REFINING</h2></div>
        <div>
            <app-trade-skill [attribute]="attributes.SMELTING" [form]="smelting"></app-trade-skill>
        </div>
        <div>
            <app-trade-skill [attribute]="attributes.WOODWORKING" [form]="woodworking"></app-trade-skill>
        </div>
        <div>
            <app-trade-skill [attribute]="attributes.LEATHERWORKING" [form]="leatherworking"></app-trade-skill>
        </div>
        <div>
            <app-trade-skill [attribute]="attributes.WEAVING" [form]="weaving"></app-trade-skill>
        </div>
        <div>
            <app-trade-skill [attribute]="attributes.STONECUTTING" [form]="stonecutting"></app-trade-skill>
        </div>
    </div>
    <div class="content flex flex-vertical-center flex-column">
        <div><h2>GATHERING</h2></div>
        <div>
            <app-trade-skill [attribute]="attributes.LOGGING" [form]="logging"></app-trade-skill>
        </div>
        <div>
            <app-trade-skill [attribute]="attributes.MINING" [form]="mining"></app-trade-skill>
        </div>
        <div>
            <app-trade-skill [attribute]="attributes.FISHING" [form]="fishing"></app-trade-skill>
        </div>
        <div>
            <app-trade-skill [attribute]="attributes.HARVESTING" [form]="harvesting"></app-trade-skill>
        </div>
        <div>
            <app-trade-skill [attribute]="attributes.TRACKING_AND_SKINNING" [form]="trackingAndSkinning"></app-trade-skill>
        </div>
    </div>
</div>


