.home-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  margin: 6px 6px 6px 6px;
}

.home-card-container {
  flex: 0 0 150px;
}

.home-card:hover {
  cursor: pointer;
}

.home-icon {
  font-size: 64px;
  width: 64px;
  height: 64px;
  transition: transform .5s;
}

.home-icon:hover {
  transform: scale(1.2);
}

.home-label {
  margin-top: 4px;
}
