<div class="default-container my-character-trade-skill-container">
  <div class="item">CRAFTING</div>
  <div class="my-character-trade-skill-section">
    <div class="trade-skill-item">
      <app-trade-skill label="WEAPONSMITHING" [form]="weaponSmithing"></app-trade-skill>
    </div>
    <div class="trade-skill-item">
      <app-trade-skill label="ARMORING" [form]="armoring"></app-trade-skill>
    </div>
    <div class="trade-skill-item">
      <app-trade-skill label="ENGINEERING" [form]="engineering"></app-trade-skill>
    </div>
    <div class="trade-skill-item">
      <app-trade-skill label="JEWELCRAFTING" [form]="jewelcrafting"></app-trade-skill>
    </div>
    <div class="break"></div>
    <div class="trade-skill-item">
      <app-trade-skill label="ARCANA" [form]="arcana"></app-trade-skill>
    </div>
    <div class="trade-skill-item">
      <app-trade-skill label="COOKING" [form]="cooking"></app-trade-skill>
    </div>
    <div class="trade-skill-item">
      <app-trade-skill label="FURNISHING" [form]="furnishing"></app-trade-skill>
    </div>
  </div>
  <div class="item">REFINING</div>
  <div class="my-character-trade-skill-section">
    <div class="trade-skill-item">
      <app-trade-skill label="SMELTING" [form]="smelting"></app-trade-skill>
    </div>
    <div class="trade-skill-item">
      <app-trade-skill label="WOODWORKING" [form]="woodworking"></app-trade-skill>
    </div>
    <div class="trade-skill-item">
      <app-trade-skill label="LEATHERWORKING" [form]="leatherworking"></app-trade-skill>
    </div>
    <div class="trade-skill-item">
      <app-trade-skill label="WEAVING" [form]="weaving"></app-trade-skill>
    </div>
    <div class="trade-skill-item">
      <app-trade-skill label="STONECUTTING" [form]="stonecutting"></app-trade-skill>
    </div>
  </div>
  <div class="item">GATHERING</div>
  <div class="my-character-trade-skill-section">
    <div class="trade-skill-item">
      <app-trade-skill label="LOGGING" [form]="logging"></app-trade-skill>
    </div>
    <div class="trade-skill-item">
      <app-trade-skill label="MINING" [form]="mining"></app-trade-skill>
    </div>
    <div class="trade-skill-item">
      <app-trade-skill label="FISHING" [form]="fishing"></app-trade-skill>
    </div>
    <div class="trade-skill-item">
      <app-trade-skill label="HARVESTING" [form]="harvesting"></app-trade-skill>
    </div>
    <div class="trade-skill-item">
      <app-trade-skill label="TRACKING & SKINNING" [form]="trackingAndSkinning"></app-trade-skill>
    </div>

  </div>

</div>


