.my-character-trade-skill-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.my-character-trade-skill-section {
  display: flex;
  flex-wrap: wrap;
}

.trade-skill-item {
  margin: 6px;
}
