<div class="content flex flex-wrap">
    <div class="content flex flex-center flex-column">
        <div><h2>CRAFTING</h2></div>
        <div>
            <app-trade-skill label="WEAPONSMITHING" [form]="weaponSmithing"></app-trade-skill>
        </div>
        <div>
            <app-trade-skill label="ARMORING" [form]="armoring"></app-trade-skill>
        </div>
        <div>
            <app-trade-skill label="ENGINEERING" [form]="engineering"></app-trade-skill>
        </div>
        <div>
            <app-trade-skill label="JEWELCRAFTING" [form]="jewelcrafting"></app-trade-skill>
        </div>
        <div>
            <app-trade-skill label="ARCANA" [form]="arcana"></app-trade-skill>
        </div>
        <div>
            <app-trade-skill label="COOKING" [form]="cooking"></app-trade-skill>
        </div>
        <div>
            <app-trade-skill label="FURNISHING" [form]="furnishing"></app-trade-skill>
        </div>
    </div>
    <div class="content flex flex-center flex-column">
        <div><h2>REFINING</h2></div>
        <div>
            <app-trade-skill label="SMELTING" [form]="smelting"></app-trade-skill>
        </div>
        <div>
            <app-trade-skill label="WOODWORKING" [form]="woodworking"></app-trade-skill>
        </div>
        <div>
            <app-trade-skill label="LEATHERWORKING" [form]="leatherworking"></app-trade-skill>
        </div>
        <div>
            <app-trade-skill label="WEAVING" [form]="weaving"></app-trade-skill>
        </div>
        <div>
            <app-trade-skill label="STONECUTTING" [form]="stonecutting"></app-trade-skill>
        </div>
    </div>
    <div class="content flex flex-center flex-column">
        <div><h2>GATHERING</h2></div>
        <div>
            <app-trade-skill label="LOGGING" [form]="logging"></app-trade-skill>
        </div>
        <div>
            <app-trade-skill label="MINING" [form]="mining"></app-trade-skill>
        </div>
        <div>
            <app-trade-skill label="FISHING" [form]="fishing"></app-trade-skill>
        </div>
        <div>
            <app-trade-skill label="HARVESTING" [form]="harvesting"></app-trade-skill>
        </div>
        <div>
            <app-trade-skill label="TR. & SKINNING" [form]="trackingAndSkinning"></app-trade-skill>
        </div>
    </div>
</div>


