.div-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  margin: 5px 5px 5px 5px;
  transition: transform .2s;
}

.home-card:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.home-icon {
  font-size: 64px;
  width: 64px;
  height: 64px;
}

.home-label {
  margin-top: 4px;
}
