<div>
    <mat-form-field class="my-character-basic-form" appearance="fill">
        <mat-label>Character Name</mat-label>
        <input matInput type="text" [formControl]="name" autocomplete="off">
    </mat-form-field>
    <mat-form-field class="my-character-basic-form" appearance="fill">
        <mat-label>Character Level</mat-label>
        <input matInput type="number" [formControl]="level" autocomplete="off"/>
    </mat-form-field>
    <button mat-raised-button (click)="save()">SAVE</button>
</div>
