<div class="content flex flex-wrap">
    <div class="content flex flex-column flex-center">
        <div><h2>ONE HANDED</h2></div>
        <app-weapon-mastery label="SWORD AND SHIELD" [form]="swordAndShield"></app-weapon-mastery>
        <app-weapon-mastery label="RAPIER" [form]="rapier"></app-weapon-mastery>
        <app-weapon-mastery label="HATCHET" [form]="hatchet"></app-weapon-mastery>
    </div>
    <div class="content flex flex-column flex-center">
        <div><h2>TWO HANDED</h2></div>
        <app-weapon-mastery label="SPEAR" [form]="spear"></app-weapon-mastery>
        <app-weapon-mastery label="GREAT AXE" [form]="greataxe"></app-weapon-mastery>
        <app-weapon-mastery label="WAR HAMMER" [form]="warhammer"></app-weapon-mastery>
    </div>
    <div class="content flex flex-column flex-center">
        <div><h2>RANGED</h2></div>
        <app-weapon-mastery label="BOW" [form]="bow"></app-weapon-mastery>
        <app-weapon-mastery label="MUSKET" [form]="musket"></app-weapon-mastery>
    </div>
    <div class="content flex flex-column flex-center">
        <div><h2>MAGIC</h2></div>
        <app-weapon-mastery label="FIRE STAFF" [form]="firestaff"></app-weapon-mastery>
        <app-weapon-mastery label="LIFE STAFF" [form]="lifestaff"></app-weapon-mastery>
        <app-weapon-mastery label="ICE GAUNTLET" [form]="iceGauntlet"></app-weapon-mastery>
    </div>
</div>


