<div class="weapon-mastery-container">
  <div class="weapon-mastery-label">{{label}}</div>
  <mat-progress-bar mode="determinate" [value]="value / 20 * 100"></mat-progress-bar>
  <div class="weapon-mastery-value-container">
    <button mat-icon-button (click)="decrement()">
      <mat-icon>chevron_left</mat-icon>
    </button>
    <mat-form-field class="weapon-mastery-value-form" appearance="outline">
      <input matInput type="number" class="weapon-mastery-value" [formControl]="form" autocomplete="off"/>
    </mat-form-field>
    <button mat-icon-button (click)="increment()">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
</div>
