.weapon-mastery-value > mat-form-field {
    width: 48px;
}

.weapon-mastery-value > mat-form-field input {
    font-size: 12px;
    text-align: center;
}

.weapon-mastery-container {
    border: 1px solid #5c5c5c;
    margin: 3px 0px 3px 0px;
    padding: 3px 3px 3px 3px;
}

:host ::ng-deep .mat-form-field-wrapper{
    padding: 3px;
}
