.weapon-mastery-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  border: #333 solid 1px;
  padding: 12px;
  border-radius: 5px;
}

.weapon-mastery-value-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.weapon-mastery-value-form {
  padding-top: 18px;
  width: 48px;
}

.weapon-mastery-value {
  font-size: 24px;
  background-color:transparent;
  border: 0;
  text-align: center;
  color: #fff;
}

.weapon-mastery-label {
  font-size: 12px;
}
